/*MAIN*/
body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
}

#dv_main {
	float: center;
	width: 100%;
	height: 100%;
	padding-bottom: 2%;
	padding-left: 3%;
	padding-right: 3%;
}

#dv_title {
	float: left;
}

#dv_options_bar {
	float: left;
	border: black thin solid;
}

.well {
	margin-bottom: 0px;
}

#dv_content {
}

#dv_panel_left {
	height: 700px;
	background-color: #f8fca6;
	float: left;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;	
	border: black thin solid;
	overflow-y: auto;
}

#dv_panel_right {
	height: 700px;
	background-color: #f8fca6;
	float: left;
	border: black thin solid;
	word-break: break-all;
	overflow-y: auto;
}

#dv_panel_right_upper {
	height: 50%;
	width: 100%;
	background-color: #f8fca6;
	float: left;
	border: black thin solid;
}

#dv_panel_right_lower {
	height: 50%;
	width: 100%;
	background-color: #f8fca6;
	float: left;
	border: black thin solid;
}

.txt_title {
	font-family: Impact, fantasy;
}

footer {
	font-family: Impact, fantasy;
	text-align: center;
}

a {						
	color: inherit;					    /*REMOVE BLUE COLOR AND UNDERLINE*/
	text-decoration: none !important;
}